* {
  margin: 0;
  font-family: Quicksand;
  color: #333;
}
.navbar {
  background:#000; 
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 3px solid #fd0000;
}
.navbar h1 {
  color: #fd0000;
}
.links{
  margin-left: auto;
  float: right;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a {
  color: #f1356d;
}
