* {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}

 
.navbar {
  background: #0a0060;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 3px solid #000000;
  
}
.navbar img{
  height:50px;
  margin-right: 10px;
  
}
.navbar h1 {
  color: #fff;
}
.links{
  margin-left: auto;
  float: right;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a {
  color: #ffffff;
}
.navbar a:hover{
  color: #ecc653;
}
body{
  background: #defffa;
}
.signin {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  text-align: left;
}
input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
.SignUp {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
.intro{
  background: linear-gradient(to bottom right, #008080, #defffa);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 20px;
}
.intro h3{
  color: #00065f;
}
.intro h1{
  color: #00065f;
}
.intro img{
  width: auto;
  align-items: center;
  margin-top: 50px;
  opacity: .6;
}
.reasons h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0a0060;
}
.reasons ul li{
 color: #0a0060;
 list-style: square;

}* {
	box-sizing: border-box;
}

/* body {
	font-family: 'Roboto Slab', serif;
	font-size: 1.2rem;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
	min-height: 100vh;
} */

ol {
	padding: 0;
	margin: 0;
	max-width: 700px;
	position: relative;
}

ol::before {
	content: '';
	width: 0.5rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 8%;
	background: peachpuff;
	z-index: -1;
}

li {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background: peachpuff;
}

li + li {
	margin-top: 1rem;
}

/* ::marker {
	font-weight: 600;
	color: tomato;
	font-size: 1.8rem;
}  */
.reasons img{
  margin-right: auto;
  float: right;
  margin-top: -10px;
}
.about-us{
  margin-top: 50px;
  background: #000;
  opacity: 6;
  height: 150px;
  color: white;
}
.about-us p {
  color: white;
}
.about-us h3{
  color: white;
}
